*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --space-cadet: #141B41;
    --marian-blue: #224377;
    --yinmin-blue: #295792;
    --green-blue: #306BAC;

    --falu-red: #772014;
    --sienna-1: #852915;
    --sienna-2: #933216;
    --sienna-3: #933217;

    --gray-1: #2C150E;
    --gray-2: #342018;
    --gray-3: #44362D;
    --gray-4: #656256;
    --gray-5: rgb(173, 168, 179);
    --gray-6: #EEEEEE;
    --gray-7: #F5F5F5;

    --orange: rgb(243, 151, 102);

    --max-width: 1170px;
    --fixed-width: 620px;

    --header-height: 3.5rem;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background-color: var(--space-cadet);
    color: var(--gray-5);
    line-height: 1.5;
    font-size: 0.8rem;
}

header {
    background-color: var(--orange);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.logo {
    font-size: 2.5rem;
    font-weight: 300;
    padding-left: 1rem;
    text-decoration: none;
    color: black;
}


.links a { 
    font-size: 1rem;
    text-decoration: none;
    color: var(--green-blue);
    margin-left: 2rem;
    transition: 0.5s;
}

.links a:hover, .links a.active {
    color: var(--gray-1);
}

#ham {
    font-size: 1.2rem;
    color: var(--sienna-1);
    display: none;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: var(--header-height);
}

#home {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 3.2rem;
}

.btn {
    display: block;
    margin: 2rem auto;
    width: 10rem;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--gray-5);
    text-align: center;
    border: 2px solid var(--gray-5);
    justify-content: center;
}

#about {
    background: var(--marian-blue)
}

#contact {
    background: var(--green-blue);
}

#products {
    background: var(--yinmin-blue);
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5rem 1.5rem;
}

.hamburger {
    background: none;
    border: none;
    margin: 10px
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px; /* Set a max-width to control the width of the grid */
}

.product-box {
    position: relative;
    height: 35vh; /* Ensures the product boxes take the full height of the grid cells */
    overflow: hidden;
    box-shadow: 0 0 1rem var(--gray-1);
    display: flex;
}

.product-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the images cover the entire box and are cropped if needed */
    transition: 0.3s ease;
}

.product-box img:hover {
    transform: scale(1.1);
}

.product-box .product-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), var(--green-blue));
    transform: translateY(100%);
    transition: 0.3s ease;
}

.product-box:hover .product-layer {
    transform: translateY(0);
}

.product-layer h4 {
    font-size: 1.2rem;
    color: var(--gray-6);
}

.product-layer p {
    color: var(--gray-7);
}

.product-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--gray-5);
}

.product-layer a i {
    font-size: 1.2rem;
    color: var(--space-cadet)
}

section h2 {
    margin: 0.5rem 0;
}